/*Contact*/
#contact
	color: $baseColor
	padding: 30px
	margin-top: 30px
	background: linear-gradient(to right, $contactGrey, $brown, $darkOrange, $brown, $contactGrey)
	
	.content
		text-align: center
		margin: 10px auto

.forms
	margin-top: 20px
	.form-group
		font-size: 18px
		padding: 10px 
		.submit-button
			color: $darkOrange
			font-weight: bold
			font-size: 18px
			line-height: 18px
			background: $grey
			&:hover
					color: $blue

.personal-data
	margin: 30px auto
	a
		i
			padding: 10px
			color: $blue
			&:hover
				color: $lightOrange
	p
		font-size: 18px
		padding: 10px
	